<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">
      Далеко-далеко за словесными горами в стране гласных и согласных живут,
      рыбные тексты. Строчка родного точках мир гор дорогу путь безопасную,
      буквоград океана ipsum предложения заманивший дороге проектах дал вопрос
      от всех большого не? Далеко-далеко за словесными горами в стране гласных и
      согласных живут рыбные тексты. Текст грамматики необходимыми щеке решила
      всемогущая. Возвращайся великий свой дороге пустился реторический
      семантика рот! До, залетают? Свою предупредила речью подзаголовок.
    </p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>

<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Personal data </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1" />
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title> Destination </mat-panel-title>
      <mat-panel-description>
        Type the country name
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Day of the trip </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (focus)="picker.open()"
        readonly
      />
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>
  </mat-expansion-panel>
</mat-accordion>

<p>Slide Toggle using a simple NgModel.</p>

<mat-slide-toggle [(ngModel)]="isChecked"
  >Slide Toggle Checked: {{ isChecked }}</mat-slide-toggle
>

<p>Slide Toggle inside of a Template-driven form</p>

<form
  class="example-form"
  #form="ngForm"
  (ngSubmit)="onFormSubmit()"
  ngNativeValidate
>
  <mat-slide-toggle ngModel name="enableWifi">Enable Wifi</mat-slide-toggle>
  <mat-slide-toggle ngModel name="enableWifi">Enable Wifi 2</mat-slide-toggle>
  <mat-slide-toggle ngModel name="enableWifi">Enable Wifi 3</mat-slide-toggle>
  <mat-slide-toggle ngModel name="enableWifi">Enable Wifi 4</mat-slide-toggle>
  <mat-slide-toggle ngModel name="acceptTerms" required
    >Accept Terms of Service</mat-slide-toggle
  >

  <button mat-raised-button type="submit">Save Settings</button>
</form>

<p>Slide Toggle inside of a Reactive form</p>

<form
  class="example-form"
  [formGroup]="formGroup"
  (ngSubmit)="onFormSubmit()"
  ngNativeValidate
>
  <mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle>
  <mat-slide-toggle formControlName="acceptTerms"
    >Accept Terms of Service</mat-slide-toggle
  >

  <p>Form Group Status: {{ formGroup.status }}</p>

  <button mat-raised-button type="submit">Save Settings</button>
</form>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <h1>One</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <section>1</section>
    <section>2</section>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
